section.VerticalForm {
	background-color: $lightazure;

	.form_zone {
		padding-bottom: 5rem;
		padding-top: 5rem;
		width: 80%;

		.Form {
			form {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;

				input {
					border-bottom-width: 1px !important;
				}

				select {
					border-width: 1px !important;
				}

				.hs_submit {
					display: flex;
					justify-content: center;
					width: 100%;
				}
			}

			.field .input {
				@include inputWebkitAutofills($lightazure);
			}
		}
	}
}