# Project dependencies
.cache
node_modules
yarn-error.log
.editorconfig
.wordpress-cache

# Build directory
/public
# Gonna ignore uploads until we know how to properly fetch them, otherwise we'll kill our BitBucket and Netlify.
/uploads
.DS_Store

.sass-cache
.sass-cache/*
\.history
src/assets/videos/

cypress\.json
cypress/

NetlifyPosts
node_modules()

# .env.development
# .env.staging
# .env.production
# Local Netlify folder
.netlify