@media screen and (max-width: $tablet_max_width) {
	.DddForm {
		.form_zone {
			width: 100%;
		}
	}
}
@media screen and (max-width: $mobile_max_width) {
.DddForm {
	margin: 0;
	padding: 0;
	.form_zone {
		.Row {
.image_container {
	flex-basis: 100%;
	max-width: 100%;
	justify-content: center;
	img {
		width: 100%;
	}
}
.form_container {
	flex-basis: 100%;
	max-width: 100%;
		.Form {
			form {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				label {
					span {
					color: white;
					}
				}
				input {
					border-bottom-width: 1px !important;
					border-color: white;
					color: white;
				}

				select {
					border-width: 1px !important;
					border-color: white;
					color: white;
				}

				.hs_submit {
					display: flex;
					justify-content: center;
					width: 100%;
							}
						}
					}
				}
			}
		}
	}
}