@import "../CTA/cta_bases";

.Form {
	min-height: 20rem;
	width: 100%;

	form {
		margin-bottom: 0;

		fieldset {
			display: inline-block;
			flex: 0 0 100%;
			margin-bottom: 1.8rem;
			max-width: 100%;
			width: 100%;

			.field .input {

				&,
				input,
				textarea {
					margin: 0;
					width: 100%;
					z-index: 1;
				}
			}

			&.form-columns-1,
			&.form-columns-2,
			&.form-columns-3 {
				&>.hs-form-field {
					align-items: flex-start;
					display: inline-flex;
					float: none;
					height: 100%;
					justify-content: flex-end;
					margin-bottom: 0;
					vertical-align: bottom;
				}
			}

			&.form-columns-1 {
				&>div {

					&,
					&.error {
						margin-left: 0;
						margin-right: 0;
						max-width: 100%;
						width: 100%;
					}
				}
			}

			&.form-columns-2 {
				&>div {

					&,
					&.error {
						margin-bottom: 0;
						margin-left: 1.5rem;
						margin-right: 1.5rem;
						max-width: calc(50% - 1.5rem);
						width: calc(50% - 1.5rem);

						&:first-of-type {
							margin-left: 0;
						}

						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}

			&.form-columns-3 {
				&>div {

					&,
					&.error {
						margin-bottom: 0;
						margin-left: 1.5rem;
						margin-right: 1.5rem;
						max-width: calc(33% - 2rem);
						width: calc(33% - 2rem);

						&:first-of-type {
							margin-left: 0;
						}

						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}

			&.hidden {
				margin: 0;
				max-height: 0;
				max-width: 0;
				overflow: hidden;
				padding: 0;
			}
		}

		.field {
			display: inline-flex;
			flex-flow: column nowrap;
			float: none;
			margin: 0 0 2rem;
			padding: 0;

			label {
				font-size: 1.4rem;
				font-weight: bold;
				margin: 0 0 2px;
				order: 1;
				position: relative;
				transition: transform 0.3s;
				z-index: 10;

				&>span {
					color: $blue;
					transition: color 0.3s;

					&.hs-form-required {
						color: $red;
						margin-left: 5px;
					}
				}
			}

			.input {
				order: 3;

				input,
				select,
				textarea {
					border: 0 none;
					border-radius: 0;
					box-shadow: none;
					box-sizing: border-box;
					font-size: 1.4rem;
					height: 2.6rem;
					max-width: 100%;
					transition: color 0.3s;
					width: 100%;

					&:active,
					&:focus {
						outline: none;
					}
				}

				select option {
					background-color: #FFF;
					color: $blue;

					&:disabled {
						color: rgba($blue, 0.4);
					}
				}
			}

			.hs-error-msgs {
				display: inline-block;
				height: 0;
				order: 2;
				overflow: hidden;
				padding: 0;
				width: 0;

				li {
					height: 0;
					list-style-type: none;
					overflow: hidden;
					padding: 0;
					width: 0;

					label {
						color: $red;
						pointer-events: all;
						transform: none;
					}
				}
			}

			&.hs-fieldtype-select {
				.input {
					margin-right: 0;
				}
			}

			&.hs-fieldtype-booleancheckbox {
				margin-bottom: 0;
				padding-bottom: 1rem;
				padding-top: 1rem;

				&.error {
					margin-bottom: 0;
					margin-left: 0;
					padding-bottom: 1rem;
					padding-top: 1rem;
				}

				ul {
					padding: 0;

					li {
						list-style-type: none;
					}
				}

				label {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					padding-top: 0.3rem !important;
					position: relative;
					width: 100%;

					input,
					textarea {
						display: inline-block;
						flex: 0 0 1.5rem;
						height: 1.5rem;
						left: 0.2rem;
						max-height: 1.5rem;
						max-width: 1.5rem;
						position: relative;
						top: 0.2rem;
						width: 1.5rem;

						&:before {
							background-color: #FFF;
							background-image: none;
							background-size: contain;
							border: 2px solid #000;
							border-radius: 0.6rem;
							content: " ";
							height: 2rem;
							left: -0.2rem;
							margin: 0;
							max-height: 2rem;
							max-width: 2rem;
							padding: 0;
							position: absolute;
							top: -0.2rem;
							transition: border-color 0.3s;
							width: 2rem;
						}

						&:checked:before {
							background-image: url("../../../assets/images/carousels/img.svg");
						}
					}

					span {
						display: inline;
						flex: 0 0 calc(100% - 3.4rem);
						max-width: calc(100% - 3.4rem);
						width: calc(100% - 3.4rem);

						&:after {
							color: $red;
							content: "*";
							font-weight: bold;
						}

						&.hs-form-required {
							display: none;
						}
					}
				}
			}

			&.hs-email {
				.hs-error-msgs {
					height: auto;
					overflow: visible;
					width: auto;

					li {
						height: auto;
						overflow: visible;
						width: auto;

						label {
							color: $red;
							transform: none;
						}
					}
				}
			}
		}

		div.field.error {
			background: transparent none;
			margin: 0 0 2rem;
			padding: 0;

			&.hs-fieldtype-booleancheckbox {
				label {
					span {
						color: $red;
					}

					input,
					textarea {
						&:before {
							border-color: $red;
						}
					}
				}
			}

			&.hs-email {
				label {
					transform: none;
				}
			}
		}

		div.actions {
			margin: 0;
			padding: 0;

			input[type="submit"].hs-button {
				@extend %cta;
				box-sizing: border-box;
				padding: 1.2rem 3rem 1rem;
			}
		}

		.hs_error_rollup {
			margin: 2rem 0;

			ul li {
				list-style-type: none;

				label {
					@include fontBold;
					color: $red;
					font-size: 2rem;
					line-height: 120%;
				}
			}
		}
	}

	&.bg_light {
		&.fields_boxes {
			form {
				.field {
					.input {}
				}
			}
		}

		&.fields_lines {
			form {
				.field {
					.input {

						input,
						textarea {
							border-color: $blue;
						}

						select {
							background-color: transparent;
							border: 2px solid $blue;
							color: $blue;
						}
					}
				}
			}
		}
	}

	&.bg_dark {
		form {
			.field {
				label {
					span:first-of-type {
						color: #00F;
					}
				}

				.input {

					input,
					select,
					textarea {
						color: #00F;
					}

					select option {
						appearance: none;
						color: #00F;
						padding: 1rem;
					}
				}
			}
		}

		&.fields_boxes {
			form {
				.field {
					.input {}
				}
			}
		}

		&.fields_lines {
			form {
				.field {
					.input {

						input,
						textarea {
							border: none;
							border-bottom: 2px solid #FFF;
						}

						select,
						select option {
							border: none;
							border-bottom: 2px solid #FFF;
						}
					}
				}
			}
		}
	}

	&.fields_boxes {
		form {
			.field {
				.input {

					input,
					select,
					textarea {
						background-color: #FFF;
						height: 3.2rem;
					}
				}

				&.error {
					.input {

						input,
						select,
						textarea {
							border: 2px solid $red;
							color: $red;
						}
					}

					&.hs-fieldtype-text,
					&.hs-fieldtype-select,
					&.hs-fieldtype-textarea {
						label {
							span {
								color: $red;
							}
						}
					}
				}
			}
		}
	}

	&.fields_lines {
		form {
			.field {
				.input {
					@include inputWebkitAutofills;

					input,
					textarea {
						background-color: transparent;
						border: 2px solid #FFF;
						border-radius: 0;
						border-width: 0 0 2px 0;
						box-shadow: none;
						padding-left: 0;
						padding-right: 0;

						&:active,
						&:focus {
							box-shadow: none;
						}
					}

					select {
						background-color: transparent;
						border: 2px solid #FFF;
						border-radius: 0;
						box-shadow: none;
						height: auto;
						padding: 1rem 1.2rem 0.8rem 0;

						&:active,
						&:focus {
							box-shadow: none;
						}
					}
				}

				&.hs-fieldtype-text,
				&.hs-fieldtype-textarea {
					label {
						pointer-events: none;
						transform: translateY(100%);
					}

					&.field_not_empty,
					&.field_focused,
					.hs-error-msgs li {
						label {
							transform: none;
						}
					}
				}

				&.hs-fieldtype-textarea {
					position: relative;
					top: 3px;
				}

				&.error {
					.input {

						input,
						select,
						textarea {
							border-color: $red;
							color: $red;
						}
					}

					&.hs-fieldtype-text,
					&.hs-fieldtype-select {
						label {
							span {
								color: $red;
							}
						}
					}
				}
			}
		}
	}

	&.loaded {
		.Loading {
			opacity: 0;
		}
	}

	&.bg_dark .Loading .line {
		border-color: #FFF #FFF #FFF transparent;
	}

	&.bg_light .Loading .line {
		border-color: $blue $blue $blue transparent;
	}
}