@media screen and (max-width: $tablet_max_width) {
	.Form.fields_boxes form .field {
		.input {

			input,
			select {
				height: 4rem;
			}

			&.hs-fieldtype-booleancheckbox label {}
		}
	}
}

@media screen and (max-width: $mobile_max_width) {}

@media screen and (max-width: $mobile_max_width) and (orientation:landscape) {
	.Form form fieldset {

		&.form-columns-2,
		&.form-columns-3 {
			&>div.hs-form-field {
				margin-right: 1.5rem;
				max-width: calc(50% - 1.5rem);
				width: calc(50% - 1.5rem);

				&:last-of-type {
					margin-right: 0;
					max-width: calc(50% - 1.5rem);
					width: calc(50% - 1.5rem);
				}
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) {
	.Form form {
		fieldset {

			&.form-columns-2,
			&.form-columns-3 {
				&>div {

					&,
					&.error {
						margin-left: 0;
						margin-right: 0;
						max-width: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) and (orientation:portrait) {
	.Form form fieldset {

		&.form-columns-1,
		&.form-columns-2,
		&.form-columns-3 {
			display: inline-block;
			margin-bottom: 0;

			&>div.hs-form-field {
				height: auto;
				margin-bottom: 1.8rem;

				&,
				&:last-of-type {
					margin-right: 0;
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}