.ImgHat {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;

	&>.Row {
		align-content: center;
		justify-content: center;
		width: 100%;

		&>img {
			max-width: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

}