.PlayBtn {
	$buttonSize: 10rem;
	align-items: center;
	border-radius: 100%;
	display: flex;
	height: $buttonSize;
	justify-content: center;
	margin-bottom: 2rem;
	position: relative;
	transition: filter 0.3s, transform 0.3s, opacity 1s, margin 0.3s;
	width: $buttonSize;

	img {
		height: auto;
		padding-left: 38%;
		padding-right: 28%;
		width: 34%;
	}

	div {
		border: 0.6rem solid transparent;
		border-color: #FFF transparent transparent transparent;
		border-radius: 50%;
		box-sizing: border-box;
		display: block;
		height: $buttonSize;
		margin: 0;
		opacity: 1;
		position: absolute;
		transition: height 0.3s, width 0.3s, border 0.3s;
		width: $buttonSize;

		&:nth-of-type(1) {
			transform: rotate(45deg);
		}

		&:nth-of-type(2) {
			transform: rotate(135deg);
		}

		&:nth-of-type(3) {
			transform: rotate(225deg);
		}

		&:nth-of-type(4) {
			transform: rotate(315deg);
		}
	}

	&.teal {
		div {
			border-color: $teal transparent transparent transparent;
		}
	}

	&.mint {
		div {
			border-color: $mint transparent transparent transparent;
		}
	}

	&.solid {
		img {
			padding: 0;
			width: 100%;
		}
	}
}