@media screen and (max-width: $tablet_max_width) {
	.PlayBtn {
		$buttonSize: 12vw;
		height: $buttonSize;
		margin-bottom: 4vw;
		width: $buttonSize;

		div {
			height: $buttonSize;
			width: $buttonSize;
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	.PlayBtn {
		$buttonSize: 15vw;
		height: $buttonSize;
		width: $buttonSize;

		div {
			height: $buttonSize;
			width: $buttonSize;
		}
	}
}