@keyframes startPlay {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.Video {
	align-items: center;
	background-color: #FFF;
	border-radius: 1rem;
	display: flex;
	flex-flow: column;
	height: auto;
	justify-content: center;
	margin: 0 auto;
	max-width: 68rem;
	overflow: hidden;
	position: relative;
	width: 100%;

	&.HubspotVideo {
		max-width: 100%;
	}

	.inner {
		@include flexCenter;
		border-radius: 1rem;
		height: 0;
		overflow: hidden;
		padding: 56.25% 0 0;
		width: 100%;
	}

	.poster,
	iframe {
		@include bg;
		right: 0;
	}

	.poster {
		@include bgCover;
		@include flexCenter;
		cursor: pointer;
		flex-flow: column nowrap;
		opacity: 1;
		transition: opacity 2s;
		transition-delay: 0.5s;
		z-index: 10;

		.icon_loading {}

		.tagline {
			@include fontBolder;
			color: #00F;
			font-size: calc(min(3.4vw, 3.4rem));
			line-height: 100%;
			margin: 0 auto;
			max-height: 100px;
			overflow: hidden;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			transition: filter 0.3s, opacity 0.3s, max-height 0.2s;
			width: 100%;
			z-index: 5;
		}

		.PlayBtn {
			filter: drop-shadow(0.4rem 0.4rem 0.6rem rgba(#000, 0.6));
		}

		&:hover {
			.PlayBtn {
				filter: drop-shadow(0 0 1rem #FFF);
			}

			.tagline {
				filter: drop-shadow(0 0 1rem #FFF);
			}
		}
	}

	iframe {
		opacity: 0.01;
		transition: opacity 1s;
		z-index: 5;
	}

	video {
		cursor: pointer;
		max-height: 100%;
		max-width: 100%;
		width: 100%;
	}

	&.loading,
	&.playing {
		.poster {
			pointer-events: none;

			.PlayBtn {
				margin: 0;

				img {
					opacity: 0;
				}

				div {
					animation: startPlay 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
					border-width: 5px;

					&:nth-of-type(1) {
						animation-delay: -0.45s;
					}

					&:nth-of-type(2) {
						animation-delay: -0.3s;
					}

					&:nth-of-type(3) {
						animation-delay: -0.15s;
					}
				}
			}

			.tagline {
				max-height: 0px;
				opacity: 0;
			}
		}
	}

	&.playing {
		.poster {
			opacity: 0;
			pointer-events: none;

			.PlayBtn {
				opacity: 0;

				img {
					display: none;
				}
			}

			.tagline {
				display: none;
			}
		}

		iframe {
			box-sizing: border-box;
			opacity: 1;
		}
	}
}