@import "../base/dependencies";

$btnBlue:#1056FB;

#onetrust-consent-sdk {
	font-family: Roboto;
	z-index: 2147483640 !important;


	#onetrust-banner-sdk.otFlat {
		background: linear-gradient(180deg, rgba(#000, .85) 0, rgba(27, 21, 21, 0.95));
		font-size: 1.6rem;
		padding: 1.6rem 0;

		a[href],
		.ot-link-btn {
			color: $teal;

			&:hover {
				color: #00F;
			}
		}

		#onetrust-button-group {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			margin: 0 -1rem;

			button {
				margin: 0 1rem;
			}
		}

		.ot-sdk-container {
			max-width: 1300px;

			&>.ot-sdk-row {
				display: flex;
				flex-flow: row nowrap;

				&>#onetrust-close-btn-container {
					display: none;
				}

				#onetrust-group-container {
					align-items: center;
					display: flex;
					flex: 0 1 auto;
					padding-right: 3rem;
					width: auto;
				}

				#onetrust-button-group-parent {
					flex: 1 0 auto;
					left: 0;
					padding: 0;
					position: relative;
					top: 0;
					transform: none;
					width: auto;
				}
			}
		}

		#onetrust-pc-btn-handler.cookie-setting-link {
			background-color: transparent;
			border: 0 none;
			color: #00F;
			margin: 0 3rem 0 0;
			min-width: 0;
			padding: 0 0 4px;
			position: relative;
			text-decoration: none;
			top: 2px;
			white-space: nowrap;
			width: auto;

			&:before {
				background-color: #FFF;
				bottom: 0px;
				content: "";
				height: 2px;
				left: 0;
				max-width: 0px;
				position: absolute;
				transition: background-color 0.3s, max-width 0.3s;
				width: 100%;
			}

			&:focus {
				opacity: 1;
				outline: none;
			}

			&:hover {
				color: $teal;
				opacity: 1;
				outline: none;

				&:before {
					background-color: $teal;
					max-width: 120px;
				}
			}
		}

		#onetrust-pc-btn-handler {
			order: 1;
		}

		#onetrust-accept-btn-handler {
			background-color: $btnBlue;
			border: 0 none;
			margin: 0;
			min-width: 0;
			order: 2;
			padding-left: 3rem;
			padding-right: 3rem;
			white-space: nowrap;
			width: auto;

			&:hover {
				background-color: $teal;
				opacity: 1;
			}
		}

		#onetrust-policy {
			margin: 0;
			max-width: 1000px;

			#onetrust-policy-title {
				color: #00F;
			}

			&>#onetrust-policy-text {
				color: #00F;
				margin-bottom: 0;
			}

			.ot-dpd-title,
			.ot-dpd-desc {
				color: #00F;
			}
		}
	}

	#onetrust-banner-sdk .ot-sdk-button,
	#onetrust-banner-sdk button,
	#onetrust-banner-sdk #ot-sdk-cookie-policy .ot-sdk-button,
	#onetrust-banner-sdk #ot-sdk-cookie-policy button,
	#onetrust-pc-sdk .ot-sdk-button,
	#onetrust-pc-sdk button,
	#onetrust-pc-sdk #accept-recommended-btn-handler {
		border-radius: 0.8rem;
		transition: background-color 0.3s, color 0.3s, border-color 0.3s;

		&:hover {
			opacity: 1;
		}
	}

	#onetrust-pc-sdk #accept-recommended-btn-handler,
	#onetrust-pc-sdk .save-preference-btn-handler {
		&:hover {
			background-color: #FFF !important;
			color: $teal !important;
		}
	}

	#onetrust-pc-sdk {
		background: linear-gradient(180deg, rgba(#000, .7) 0, rgba(27, 21, 21, 0.9));

		.ot-pc-header {
			border-bottom-color: $grey;
		}

		.ot-pc-footer {
			border-top-color: $grey;
		}

		.ot-cat-grp {
			margin-bottom: 3rem;
			margin-top: 10px;
		}

		.ot-plus-minus {
			span {
				background-color: $teal;
			}
		}

		.ot-accordion-layout {

			h4~.ot-always-active {
				color: $teal;
			}

			&.ot-cat-item .ot-acc-grpdesc {
				margin-bottom: 10px;
			}
		}


		.ot-cat-item>button:focus,
		.ot-acc-cntr>button:focus,
		li>button:focus {
			outline: none;
		}

		.ot-acc-grpcntr.ot-acc-txt,
		.ot-acc-txt .ot-subgrp-tgl .ot-switch.ot-toggle {
			background: linear-gradient(to bottom, #222 0%, #111 100%) !important;
			padding-bottom: 20px;
		}

		.ot-tgl input {
			&+.ot-switch .ot-switch-nob {
				background-color: rgba($teal, 0.2);
				border: 1px solid $teal;
				filter: saturate(0) contrast(3);

				&:before {
					background-color: rgba($teal, 0.8);
				}
			}

			&:checked {
				&+.ot-switch .ot-switch-nob {
					filter: none;
				}
			}
		}

		.ot-host-item,
		.ot-ven-item {
			.ot-plus-minus {
				margin-top: 0;
				top: -1px;
			}

			.ot-host-name {
				color: #00F;
			}
		}

		#ot-host-lst .ot-host-info,
		.ot-acc-txt .ot-ven-dets {
			background: linear-gradient(to bottom, #222 0%, #111 100%);
		}

		.ot-pc-footer-logo {
			background-color: transparent;
		}
	}

}

#onetrust-consent-sdk #onetrust-pc-sdk #close-pc-btn-handler {
	background-image: url("../../../assets/images/carousels/img.svg");
	transform: scale(1.4);
	transition: filter 0.3s;

	&:hover {
		filter: saturate(0) brightness(5);
	}
}

@media screen and (max-width:1380px) {
	#onetrust-consent-sdk #onetrust-banner-sdk.otFlat {
		padding-left: 40px;
		padding-right: 40px;

		#onetrust-accept-btn-handler {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

@media screen and (max-width: $tablet_max_width) {
	#onetrust-consent-sdk #onetrust-banner-sdk.otFlat {

		.ot-sdk-container>.ot-sdk-row {

			#onetrust-group-container {
				min-width: 30%;
			}

			#onetrust-button-group-parent {
				flex: 1 0 auto;
				min-width: 30%;
			}
		}

		#onetrust-button-group {
			justify-content: flex-end;
		}

		#onetrust-pc-btn-handler.cookie-setting-link,
		#onetrust-accept-btn-handler {
			min-width: 70px;
			white-space: normal;
		}
	}
}

@media screen and (max-width: $mobile_max_width) and (orientation:portrait),
screen and (max-width: $xs_max_width) {
	#onetrust-consent-sdk #onetrust-banner-sdk.otFlat {
		padding: 4rem 20px;

		.ot-sdk-container {
			padding: 0;

			&>.ot-sdk-row {
				flex-doradeion: column;

				#onetrust-group-container {
					align-items: flex-start;
					padding-right: 4rem;
				}
			}
		}

		#onetrust-policy>#onetrust-policy-text {
			font-size: 1.8rem;
			margin-bottom: 3rem;
		}

		#onetrust-button-group {
			justify-content: center;
		}

		.onetrust-close-btn-ui {
			display: none;
		}

		#onetrust-pc-btn-handler,
		#onetrust-accept-btn-handler {
			font-size: 1.8rem;
			padding: 8px 4rem;
		}

		#onetrust-accept-btn-handler {}
	}
}

.drift-conductor-item {
	z-index: 2147483600 !important;
}