@import "../base/dependencies";

@keyframes turn {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.Loading {
	align-items: center;
	background: transparent none;
	display: flex;
	justify-content: center;
	left: 50%;
	min-height: 20rem;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s;
	width: 100%;

	.line {
		border-color: #000 #000 #000 transparent;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		left: 50%;
		position: absolute;
		top: 50%;

		&:nth-child(1) {
			animation: turn 5s linear 0s infinite;
			height: 10rem;
			max-height: 10rem;
			max-width: 10rem;
			width: 10rem;
		}

		&:nth-child(2) {
			animation: turn 3s linear 0s infinite;
			height: 8rem;
			max-height: 8rem;
			max-width: 8rem;
			width: 8rem;
		}

		&:nth-child(3) {
			animation: turn 2s linear 0s infinite;
			height: 6rem;
			max-height: 6rem;
			max-width: 6rem;
			width: 6rem;
		}
	}
}