.CTABlock {
	background-color: $whisper;
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	padding: 3rem 5rem;

	.text {
		@include fontAlt;
		align-items: center;
		display: flex;
		flex: 0 1 auto;
		font-size: 1.5rem;
		padding-right: 4rem;
	}

	.ctas {
		flex: 0 1 auto;
	}

	&.vertical {
		align-items: center;
		flex-flow: column nowrap;

		.text {
			margin-bottom: 1.5rem;
			padding-right: 0;
		}
	}
}