@media screen and (max-width: $tablet_max_width) {
	.CTABlock {

		.text {
			padding-right: 3rem;
		}

		.ctas .CTA {
			white-space: normal;
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	.CTABlock {
		flex-flow: column nowrap;
		padding: 3rem 2rem;

		.text {
			font-size: 2.2rem;
			justify-content: center;
			line-height: 160%;
			margin-bottom: 1.5rem;
			padding: 0;
		}

		.ctas {
			justify-content: center;
		}
	}
}