html[lang="en"] {

	.main_nav .nav_item.en,
	.nav_drawer .ebooks_webinars .item.en,
	.mobile_nav .nav_drawer .item.en {
		display: flex;
	}
}

html[lang="fr"] {

	.main_nav .nav_item.fr,
	.nav_drawer .ebooks_webinars .item.fr,
	.mobile_nav .nav_drawer .item.fr {
		display: flex;
	}

	.main_nav {
		.nav_item {
			font-size: 1.5rem;

			.label {
				max-width: 9em;
				white-space: normal;
			}

			&.button {
				.label {
					padding-bottom: 0.5em;
					padding-top: 0.6em;
				}
			}
		}
	}

	.reduced_nav {
		.Header .main_nav {
			.nav_item {
				font-size: 1.3em;

				&.button .label {
					max-width: 100%;
					white-space: nowrap;
				}
			}
		}
	}
}

html[lang="es"] {

	.main_nav .nav_item.es,
	.nav_drawer .ebooks_webinars .item.es,
	.mobile_nav .nav_drawer .item.es {
		display: flex;
	}

	.mobile_nav .nav_drawers {
		&>.products {
			display: flex;
		}

		&>.media_owners,
		&>.media_buyers,
		&>.portal {
			display: none;
		}
	}
}