@media screen and (max-width: $tank_max_width) {
	.template_butterfly {}
}

@media screen and (max-width: $tank_max_width) and (orientation:portrait) {
	.template_butterfly {}
}

@media screen and (max-width: $tablet_max_width) {
	.template_butterfly {}
}

@media screen and (max-width: $tablet_max_width) and (orientation:portrait) {
	.template_butterfly {}
}

@media screen and (max-width: $mobile_max_width) {
	.template_butterfly {}
}

@media screen and (max-width: $mobile_max_width) and (orientation:portrait) {
	.template_butterfly {
		.modal {
			.info {
				padding: 6rem;
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) {
	.template_butterfly {
		.modal {
			flex: 0 0 auto;
			flex-flow: column nowrap;

			.info,
			.form {
				flex: 0 0 auto;
				max-width: 100%;
				padding: 3rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) and (orientation:portrait) {
	.template_butterfly {}
}

@media screen and (max-width: $super_xs_max_width) {
	.template_butterfly {}
}