.collapse .content {
	box-sizing: content-box;
	height: auto;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s;
}

.title_container {
	display: flex;

	button {
		border: none;

		.title {
			color: $blue;
			cursor: pointer;
		}
	}

	.title:hover {
		color: grey;
	}
}