@media screen and (max-width: $tank_max_width) {
	#home {
		.client_reel_title {
			margin: 3rem auto;
		}

		.client_reel {
			border-radius: 0;
			padding-top: 0;
		}

		.quotes {
			height: 46rem;
			padding-top: 3rem;

			.quote_sign {
				left: 0;
				top: 13rem;
			}

			blockquote {
				justify-content: space-between;
				left: 0;
				max-width: 100%;
				padding-left: $tankPadding;
				padding-right: $tankPadding;

				p {
					flex-basis: 65%;
					max-width: 65%;
					width: 65%;
				}
			}

			cite {
				padding-left: 0;
			}

			.quote_num {
				left: 0;
				max-width: 100%;
				padding-left: $tankPadding;
				padding-right: $tankPadding;
			}

			.CTA {
				right: $tankPadding;
			}
		}

		.resources {
			margin-top: 8rem;

			aside {
				flex: 0 0 32rem;
			}
		}

		.resources_hull {
			flex-basis: calc(100% - 32rem);
			max-width: calc(100% - 32rem);
		}

		.resource_ebook .lead {
			flex-basis: calc(100% - 32rem);
			max-width: calc(100% - 32rem);
		}
	}
}


@media screen and (max-width: $tablet_max_width)and (min-width: $mobile_max_width) and (hover: none) {
	#home {
		.Hero {

			.title,
			.tagline,
			.person,
			.gradient,
			#freeTrial {
				animation: none !important;
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: $tablet_max_width) {
	#home {
		.Hero {
			.text {
				max-width: 60%;
				width: 56rem;
			}

			.title {
				font-size: 10rem;
			}

			.tagline {
				max-width: 50rem;
				width: 100%;
			}
		}

		.client_reel {
			.tagline {
				font-size: 5vmin;
				left: $tankPadding;
				max-width: 40vmin;
				top: 2vmin;
			}

			.PlayBtn {
				transform: scale(0.7);
			}
		}

		.quotes {
			.quote_sign {
				top: 14rem;
			}

			.desc {
				padding-left: 3rem;
			}
		}

		.resource_ebook .page {
			&:after {
				background: none;
				display: none;
			}
		}
	}
}

@media screen and (max-width: $tablet_max_width) and (orientation:portrait) {
	#home {
		.branch {
			padding: 3rem;

			h2 {
				margin-top: -0.4rem;
			}

			.icon {
				height: 6rem;
				width: 6rem;
			}

			.desc {
				padding-left: 8rem;
			}
		}

		.client_reel {
			.Video {
				width: 100%;
			}
		}

		.quotes {
			.quote_sign {
				position: relative;
				width: 100%;
			}

			blockquote {
				flex-basis: 100%;
				max-width: 100%;
				width: 100%;

				p {
					align-items: center;
					flex-basis: 100%;
					justify-content: flex-start;
					margin-top: 3rem;
					max-width: 100%;
					width: 100%;
				}

				cite {
					align-items: center;
					flex-basis: auto;
					height: 6rem;
					justify-content: flex-start;
					margin-left: 0;
					margin-top: 4rem;
					max-width: 30rem;
					width: 40%;

					&.grandi_stazioni {
						height: 8rem;
					}
				}
			}

			.logo {
				background-position: center;
				flex: 0 0 8rem;
				width: 8rem;
			}

			.desc {
				display: inline-block;
				margin-bottom: 0;
				max-width: 100%;
				top: 0;
			}
		}

		.resources aside {
			flex-basis: 24rem;
		}

		.resources_hull {
			flex-basis: calc(100% - 24rem);
			max-width: calc(100% - 24rem);
		}

		.resource_post {
			flex-basis: 100%;
			margin-bottom: 6rem;
			max-width: 100%;
		}

		.resource_ebook .lead {
			flex-basis: calc(100% - 26rem);
			max-width: calc(100% - 26rem);
		}
	}
}

@media screen and (max-width: $tablet_max_width) and (orientation:portrait),
screen and (max-width: $mobile_max_width) {
	#home {
		.Hero .title {
			font-size: 9rem;
		}

		.company_ale_banner {
			grid-template-columns: 1fr;

			img {
				height: auto;
				margin: 0 -10rem;
				max-width: calc(100% + 20rem);
				width: calc(100% + 20rem);
			}

			.inner {
				padding-top: 2rem;
				position: static;
			}

			.badge {
				position: absolute;
				right: 0;
				top: 3rem;
				transform: scale(1.5);
			}

			.tagline {
				font-size: 4rem;
			}

			.find_out_more {
				font-size: 3rem;
			}
		}

		.client_reel {
			padding: 0;

			.Video {
				border-radius: 0;
				width: 100%;
			}
		}

		.quotes {
			flex-flow: column nowrap;
			margin-top: 0;
			padding-top: 6rem;

			.quote_sign {
				top: 0;
			}

			blockquote {
				max-width: 100%;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;

				p {
					flex-basis: 100%;
					max-width: 100%;
					position: relative;
					width: 100%;
				}

				cite {
					margin: 3rem 0 0;
					position: relative;
				}
			}

			.quote_num {
				align-items: center;
				font-size: 1.6rem;
				line-height: 140%;
			}
		}
	}
}

@media screen and (max-width: $mobile_max_width) and (orientation:portrait),
screen and (max-width: $xs_max_width) {

	/* px * .1625 = rem */
	#home {
		.Hero {
			height: auto;
			max-height: none;

			.Tank {
				flex-flow: column nowrap;
				justify-content: space-between;
			}

			.text {
				max-width: 100%;
				width: 100%;
			}

			.title {
				font-size: 10rem;
				margin-top: 6rem;
				text-align: center;
				width: 100%;
			}

			.tagline {
				margin: 0 auto 6rem;
				max-width: 50rem;
				text-align: center;
				width: 100%;
			}

			.ctas {
				justify-content: center;
				margin-bottom: 6rem;
				width: 100%;
			}

			.person {
				height: 75rem;
				left: 0;
				margin: 0 auto;
				max-height: 70vh;
				max-width: 60rem;
				position: relative !important;
				width: 100%;
			}

			.gradient {
				&.top_right {
					left: -50vw;
					top: 20rem;
				}

				&.middle_left {
					display: none;
				}

				&.bottom_center {
					left: -10rem;
					top: 35rem;
				}

				&.bottom_right {
					left: 40vw;
					top: 35rem;
				}
			}

			#freeTrial .CTA {
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}

		.branches {
			margin-top: -28rem;
			flex-wrap: wrap;
		}

		.branch {
			border-radius: 1.8rem;
			flex-basis: 100%;
			margin-bottom: 3rem;
			max-width: 100%;

			.icon {
				height: 5rem;
				width: 5rem;
			}

			.desc {
				padding-left: 7rem;
			}

			h2 {
				font-size: 2.8rem;
				margin-top: 0.6rem;
			}

			p {
				font-size: 2.6rem;
			}

			hr {
				margin: 2rem 0 1.6rem;
			}

			.cta {
				font-size: 2.4rem;

				&:after {
					height: 2rem;
					margin-left: 3rem;
					width: 4rem;
				}
			}
		}

		.client_reel {
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
			width: 100%;

			.Video {
				border-radius: 0;
				box-shadow: none;
			}
		}

		.quotes {
			height: 52rem;

			.quote_num {
				align-items: center;
				font-size: 1.6rem;
				line-height: 140%;
			}
		}

		.resources {
			flex-flow: column nowrap;

			aside {
				flex-basis: auto;
				justify-content: flex-start;
				margin-bottom: 0;
			}

			h2 {
				font-size: 4.6rem;
				margin-bottom: 2rem;
			}

			.see_all {
				font-size: 2.6rem;
				margin-bottom: 6rem;

				&:after {
					height: 1.8rem;
					width: 3.2rem;
				}
			}
		}

		.resources_hull {
			flex-basis: auto;
			max-width: 100%;

			.feature_img {
				border-radius: 1.2rem;
				height: 32rem;
			}
		}

		.resource_post {
			h3 {
				font-size: 2.6rem;
				margin-bottom: 8rem;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.resource_ebook {
			.ImgFlank {}

			.cover {
				border-radius: 1.2rem;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.shin {
			.CTA {
				max-height: none;
			}
		}
	}
}

@media screen and (max-width: $mobile_max_width) and (orientation:landscape) {
	#home {
		.quotes {
			height: 46rem;

			blockquote cite {
				flex-basis: 40%;
				width: 40%;
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) and (orientation:portrait) {
	#home {
		.Hero {
			.title {
				font-size: 12rem;
			}

			.tagline {
				font-size: 2.6rem;
			}
		}

		.client_reel {
			min-height: 0;
			padding: 0;

			.tagline {
				left: $tankPaddingXS;
			}
		}

		.quotes {
			height: 58rem;

			blockquote {
				cite {
					max-width: 60%;
					width: 60%;
				}
			}

			.quote_num {
				font-size: 2rem;
			}

			.CTA {}
		}

		.resources_hull .feature_img {
			margin-bottom: 3rem;
		}

		.resource_post h3 {
			margin-bottom: 9rem;
		}

		.resource_ebook {
			aside {
				width: 16rem;
			}

			.ebook {
				filter: drop-shadow(0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6));
				height: 22rem;
				overflow: hidden;
			}

			.cover {
				border-radius: 2rem;
				height: 22rem;
				width: 100%;

				&:after {
					display: none;
				}

				img,
				picture {
					object-fit: contain !important;
				}
			}

			.back_cover {
				display: none;
			}

			.lead {
				flex-basis: calc(100% - 20rem);
				max-width: calc(100% - 20rem);
			}
		}

		.resources {
			&>aside {
				width: 100%;
			}
		}

		.shin .Tank {
			flex-flow: column nowrap;

			.CTA {
				margin-left: 0;
				margin-right: 0;

				&:first-child {
					margin-bottom: 3rem;
				}
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) and (orientation:landscape) {
	#home {
		.Hero {
			.person {
				height: 90rem;
				max-height: none;
				max-width: 80vw;
			}
		}

		.client_reel {
			.tagline {
				font-size: 5vw;
				left: 5vw;
				max-width: 40vw;
				top: 2vw;
			}
		}
	}
}

@media screen and (max-width: 460px) and (min-width: $super_xs_max_width) {
	#home {
		.Hero {
			.title {
				font-size: 10rem;
			}
		}

		.quotes blockquote {
			top: 50%;
		}
	}
}

@media screen and (max-width: $super_xs_max_width) {
	#home {
		.Hero .title {
			font-size: 9.6rem;
		}

		.quotes {
			blockquote {
				padding-left: $tankPaddingXS;
				padding-right: $tankPaddingXS;
			}

			.quote_num {
				padding-left: $tankPaddingXS;
				padding-right: $tankPaddingXS;
			}

			.CTA {
				right: $tankPaddingXS;
			}
		}
	}
}

@media screen and (min-width: $tank_max_width) and (hover: hover),
screen and (min-width: $tank_max_width) and (pointer: fine) {
	#home {
		.quotes .CTA {

			&:hover:active,
			&:hover:focus,
			&:hover {
				right: -100px;

				img {
					margin-left: calc(6rem + 100px);
				}
			}
		}
	}
}