html[lang="en"] {}

html[lang="fr"] {
	#home {
		.company_ale_banner {
			.badge {
				font-size: 1.4rem;
				height: 5rem;
				width: 10rem;
			}

			.tagline {
				font-size: 2.8rem;
			}
		}
	}
}

html[lang="es"] {
	#home {
		.ilumina_el_mundo_banner {
			align-items: stretch;
			background: #021843 url("../../../assets/images/ui/img.png");
			background-position: center center;
			background-size: cover;
			box-shadow: 0 0 3rem rgba(#000, 0.6);
			display: flex;
			height: 27.8rem;
			justify-content: flex-end;
			margin-bottom: 9rem;
			overflow: hidden;

			.flash {
				display: none;
			}

			.inner {
				align-items: flex-start;
				display: flex;
				flex-flow: column nowrap;
				height: 100%;
				justify-content: center;
				padding-right: 40px;
				padding-top: 4%;
				width: 50%;
				z-index: 10;
			}

			p {
				color: $teal;
				font-size: 2vw;
				margin-bottom: 2rem;
			}

			.CTA {
				font-size: 1.5rem;
				padding: 1.6rem 5rem 1.4rem;
				text-transform: none;
			}

			&:hover {
				.CTA {
					background-color: #FFF;
					color: $demoBlue;
				}
			}
		}

		.company_ale_banner {
			margin-top: 2rem;

			.badge {
				font-size: 1.4rem;
			}
		}
	}
}

@media screen and (hover:hover) {
	html[lang="es"] #home {
		.ilumina_el_mundo_banner {
			.flash {
				background: linear-gradient(to right, rgba(#FFF, 0) 0%, rgba($teal, 0.1) 50%, rgba(#FFF, 0) 100%);
				display: block;
				height: 200%;
				left: 50%;
				pointer-events: none;
				position: absolute;
				top: 50%;
				transform: translate(-60vw, -50%) rotate(20deg);
				transition: none;
				width: 20%;
				z-index: 1;
			}

			&:hover {
				.flash {
					transform: translate(60vw, -50%) rotate(20deg);
					transition: transform 1s;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	html[lang="fr"] {}
}

@media screen and (max-width: $tablet_max_width) {
	html[lang="fr"] {
		#home .Hero .text {
			width: 46rem;
		}
	}

	html[lang="es"] {
		#home {
			.ilumina_el_mundo_banner {
				.inner {
					padding-top: 6%;
				}

				p {
					font-size: 3vw;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet_max_width) and (orientation:portrait),
screen and (max-width: $mobile_max_width) {
	html[lang="es"] {
		#home {
			.ilumina_el_mundo_banner {
				margin-bottom: 0;
				z-index: 10;
			}
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	html[lang="es"] {
		#home {
			.ilumina_el_mundo_banner .inner {
				padding-top: 7%;
			}
		}
	}
}

@media screen and (max-width: $mobile_max_width) and (orientation: portrait),
screen and (max-width: $xs_max_width) {
	html[lang="fr"] {
		#home .Hero .text {
			max-width: 100%;
			width: 100%;
		}
	}

	html[lang="es"] {
		#home {
			.Hero {
				margin-bottom: -8rem;
				z-index: 1;

				.text {
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: $xs_max_width) {
	html[lang="es"] {
		#home {
			.ilumina_el_mundo_banner {
				.inner {
					padding-top: 0%;
				}

				p {
					font-size: 5vw;
					margin-bottom: 4rem;
				}
			}
		}
	}
}