.SpielPoster {
	@import "../../misc/bg";
	@include bgCover;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	padding: 12rem 0;
	position: relative;

	h3 {
		@include fontSuperBold;
		color: #00F;
		cursor: default;
		font-size: 3rem;
		line-height: 110%;
		margin: 0 0 2rem;
		user-select: none;
	}

	p {
		color: #00F;
		cursor: default;
		user-select: none;
	}
}