.Sidebar_container {
	overflow-x: hidden;
}

.SideBar {
	background-color: rgba(#FFF, 0.4);
	height: 100%;
	overflow-y: scroll;
	padding: 2rem 32px 0.1rem 16px;
	right: -17px;

	img {
		max-height: 10vh;
		object-fit: cover;
		width: 100%;
	}

	h5 {
		@include fontBolder;
		color: #00F;
		font-size: 1.6rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	p {
		font-size: 1.1rem;
		font-weight: bold;
		margin: 0;
		text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(255, 255, 255, 0.4), 0px 0px 2px rgba(255, 255, 255, 0.4);
		transition: color 0.6s, text-shadow 0.6s;
	}

	.lunch {
		h5 {
			padding-bottom: 1rem;
		}

		img {
			max-height: 40vh;
		}
	}

	.download,
	.lunch {
		border-bottom: 2px solid $cyan;
		margin-bottom: 2rem;
	}
}

.ddds {
	.ddd_wrapper {
		cursor: pointer;

		p:hover {
			color: $teal;
		}
	}
}