@media screen and (max-width: $tank_max_width) {
	.DQuote.Tank {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: $tankPadding;

		blockquote {
			padding-left: 18rem;
		}
	}
}

@media screen and (max-width: $mobile_max_width) {
	.DQuote.Tank {
		padding: 0 $tankPaddingPhone 0 0;
	}
}