.QuoteBlock {
	blockquote {
		@include flexCenter;
		background-color: #FFF;
		border-radius: 7rem;
		margin: 7rem 8rem;
		padding: 6rem 8rem;

		.wrap {
			color: $seagull;
			display: inline-block;
			font-size: 2.4rem;

			&:before {
				content: "\201C";
				font-size: 160%;
				margin-right: 0.6rem;
				position: relative;
				top: 0.6rem;
			}

			&:after {
				content: "\201D";
				font-size: 160%;
				margin-left: 0.6rem;
				position: relative;
				top: 0.6rem;
			}
		}

		br {
			display: none;
		}

		p {
			@include fontAltBolder;
			color: $seagull;
			display: inline;
			font-size: 2.4rem;
			left: 0;
			line-height: 200%;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			white-space: normal;
		}

		cite {
			align-items: center;
			display: inline-block;
			font-family: "Roboto Regular", "Roboto", sans-serif;
			font-size: 2.6rem;
			font-style: italic;
			font-variant: small-caps;
			font-weight: 400;
			letter-spacing: 3.5px;
			line-height: 140%;
			margin-top: 3rem;
			text-align: center;
			text-transform: lowercase;

			&:after,
			&:before {
				content: "\2013";
				margin: 0 1rem;
				position: relative;
				top: 2px;
			}
		}
	}
}